<div class="home-div">
  <div fxLayout fxLayoutAlign="center center"> 
    <p>image of the logo</p>
    <img src="../../assets/logo.png"/>
  </div>
  <div fxLayout fxLayoutAlign="center center">
    <p>basic information about the pickup, order deadline, etc</p>
    <p>idea: make website "standby mode" after Wednesday night</p>
  </div>
  <div fxLayout fxLayoutAlign="center center">
      <div style="background-color: #1b7be9; color: floralwhite; border-radius: 5%; margin-bottom: 1em;">
        <span></span>
      </div>
  </div>
</div>
